@charset "ISO-8859-2";

.box {
	float: left;
	width: 50%;
	height: 100%;
}

.left-side {
	float: left;
	min-width: 100%;
}

.content {
	height: 80vh;
	width: 100%;
	color: black;
	font-weight: bolder;
}

.footer {
	height: 20vh;
	width: 100%;
	background: #f1f1f1;
}

.z-listbox-body table th, .z-listbox-body table td {
	background: aliceblue;
	font-weight: bolder;
}

.z-listbox-body {
	background: aliceblue;
}